<!-- moduloCliente/templates/pago_fallido.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Fallido</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Pago Fallido</h1>
        <div class="bg-white shadow-md rounded-lg p-4">
            <p>Hubo un problema al procesar tu pago.</p>
            <p>Por favor, inténtalo nuevamente.</p>
        </div>
    </div>
    </div>
        <a href="{% url 'home' %}" class="btn btn-primary mt-4">Volver a la Página de Inicio</a>
    </div>
</body>
</html>